@media only screen and (max-width: 1227px) {

    /* navbar */
    .navbar {
        display: none;
    }

    /* heading */
    .Heading {
        font-size: 30px;
        padding-top: 35px;
        padding-bottom: 0px;
    }

    /* Home */
    #home {
        height: 100vh;
    }

    .NameDiv {
        padding-top: 30%;
    }

    .MyName h2 {
        font-size: 35px;
    }

    .MyName h1 {
        font-size: 70px;
    }

    /* About */
    #About {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 30px;
        color: white;
    }

    .about-main {
        display: block;
    }

    .about1 {
        padding: 80px 20px;
        padding-top: 50px;
    }

    .about2 {
        float: none;
        display: flex;
    }

    .about2 img {
        height: 600px;
        float: none;
        margin: auto;
        width: 100%;
    }

    .About-Heading {
        margin-bottom: 20px;
    }

    .About-Heading2 {
        font-size: 25px;

    }

    /* contact */
    .contact {
        width: 95%;
    }

    .contact-cards {
        border-radius: 10px;
        margin-top: 25px;
        width: 100%;
    }

    .contact-cards-div {
        padding: 40px 0px;
    }

    .contact-card1 {
        padding: 0px 10px;
        /* font-size: 60px; */
    }

    .contact-card2 {
        padding: 8px 5px;
        font-size: 17px;
    }

    /* footer */
    footer {
        font-size: 15px;
    }

}