@media only screen and (max-width:1024px) {
  .navbar {
    height: 40px;
  }
  nav ul {
    width: 100%;
    background: linear-gradient(#ff54a2, #ff575a);
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
  }
  nav ul li a {
    color: #fff;
    font-size: 14px;
  }
  .m:hover {
    border-bottom: none;
  }
  #menu-icon {
    display: block;
  }
  #menulist {
    overflow: hidden;
    transition: 0.5s;
  }
  #home {
    background: url(img/mobile.jpeg)no-repeat center center/cover;
  }
  .my-name {
    display: none;
  }
  .pname {
    color: white;
    font-size: 20px;
    display: block;
    position: absolute;
    width: 290px;
    height: 150px;
    bottom: 0px;
    right: 25%;
    left: 50%;
    margin-left: -150px;
  }
  .about {
    margin-top: 50px;
    font-size: 60px;
  }
  /* .am {
    flex-direction: column;
    margin-top: 5px;
  } */
  .im>img {
    display: flex;
    height: 216px;
    width: 200px;
    margin: auto;
    margin-top: 25px;
  }
  .info {
    justify-content: center;
    margin-left: 0px;
    margin: auto;
    padding: 0;
    margin-top: 20px;
  }
  .para {
    padding: 0px 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .follow {
    margin: auto;
    margin-top: 20px;
  }
  /* contact page */
  #contact {
    margin-top: 30px;
  }
  .con {
    margin-top: 0;
    font-size: 50px;
  }
  .f {
    margin-top: 20px;
    width: 75%;
  }
  .in, .msg {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    padding-left: 5px;
  }
  label {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .f>div {
    margin: 10px 0px;
  }
  /* project */

  
#project {
  background-color: white;
  padding-top: 52px;
  margin-bottom: -50px;
} 

.mp {
  text-align: center;
  font-size: 60px;
  color: brown;
  margin-top: 20px;
  font-family: 'Barrio', cursive;
}

/* slider */

#ph{
  font-size: 45px;
} 

.slides-container {
  height: 475px;
}

.slide-image img {  
  margin-top: -7px;
  width: 780px;
  height: 381px;
  padding: 21px;
}
  .prev-btn {
    left: 1%;
    top: 218px;
  }
  
  .next-btn {
    left: -1%;
    bottom: 305px;
  }
}