@media only screen and (max-width:1024px) {
  .navbar {
    height: 110px;
  }
  nav ul {
    width: 100%;
    background: linear-gradient(#ff54a2, #ff575a);
    position: absolute;
    top: 109px;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
  }
  nav ul li a {
    color: #fff;
    font-size: 48px;
  }
  .m:hover {
    border-bottom: none;
  }
  #menu-icon {
    display: block;
    margin: 5px 20px;
    height: 70px;
  }
  .m {
    margin: 15px 6px;
  }
  #menulist {
    overflow: hidden;
    transition: 0.5s;
  }
  #home {
    background: url(img/mobile.jpeg)no-repeat center center/cover;
  }
  .my-name {
    display: none;
  }
  .pname {
    color: white;
    font-size: 85px;
    display: block;
    position: absolute;
    bottom: 100px;
  }
  .about {
    margin-top: 50px;
    font-size: 60px;
  }
  .im>img {
    display: flex;
    height: 216px;
    width: 200px;
    margin: auto;
    margin-top: 25px;
  }
  .info {
    justify-content: center;
    margin-left: 0px;
    margin: auto;
    padding: 0;
    margin-top: 20px;
  }
  .para {
    padding: 0px 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .follow {
    margin: auto;
    margin-top: 20px;
  }
  /* contact page */
  #contact {
    margin-top: 30px;
  }
  .con {
    margin-top: 0;
    font-size: 50px;
  }
  .f {
    margin-top: 20px;
    width: 75%;
  }
  .in, .msg {
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 26px;
    padding-left: 5px;
    height: 50px;
    outline: 0;
  }
  label {
    font-size: 30px;
    margin-bottom: 7px;
  }
  .f>div {
    margin: 10px 0px;
  }
  /* project */
  #project {
    background-color: white;
    padding-top: 52px;
    margin-bottom: -50px;
  }
  .mp {
    text-align: center;
    font-size: 60px;
    color: brown;
    margin-top: 20px;
    font-family: 'Barrio', cursive;
  }
  /* slider */
  #ph {
    font-size: 45px;
  }
  .slides-container {
    height: 475px;
  }
  .slide-image img {
    margin-top: -7px;
    width: 780px;
    height: 381px;
    padding: 21px;
  }
  .prev-btn {
    left: 1%;
    top: 218px;
  }
  .next-btn {
    left: -1%;
    bottom: 305px;
  }
}