/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
}
/* home */
.main-page{
    background-color: #e8ebf0;
}
.bg-image{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('img/bg.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
}
.sub {
    font-family: 'Cutive Mono', monospace;
  }
.vspan{
      color: yellowgreen;
     font: bolder;
}
/* about us */
.myinfo{
    font-family: 'Open Sans Condensed', sans-serif;
}
.f-form{
    width: 500px;
}
.c-second{
    width: 500px;
}
.c-d img{
    height: 40px;
    margin-right: 30px;
}
.c-d h3{
    color: darkblue;
}
.c-d img:hover{
    border-radius: 7px;
    background-color:white;
    filter: drop-shadow(5px 5px 5px rgba(122, 122, 255, 0.925));
}
.c-social img{
    margin: 0;
}
.c-social a{
    margin: 5px 15px;
}
.c-social{
    margin: auto;
}